.App {
  margin: auto;
  padding: 10px;
}

/* General Styles */

.bg {
  height: 100vh;
  padding: 50px;
  overflow: hidden;
  transition: 0.2s all linear;
}

.heading {
  text-transform: uppercase;
  transition: 0.2s all linear;
}

.para {
  width: 70vw;
  transition: 0.2s all linear;
}

/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: #222;
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}